<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather API Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h1>Forecast Weather Tracker API</h1>

    <form th:action="@{/find}" class="form-inline">
        <input
                class="form-control  ml-5 mr-sm-2 mb-3" type="search"
                name="cityName" placeholder="Search by city" />

        <button class="btn btn-success mb-3" type="submit">Search</button>
    </form>

    <a th:href="@{/}" style="float: right;">Home Page</a>

    <table class="table">
        <tr>
            <th>
                <img width="50px" height="50px" th:src="@{/images/city.png}"/>
                City</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/temp.png}"/>
                Temperature</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/feels-like.png}"/>
                Feels Like</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/min-temp.png}"/>
                Minimum Temperature</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/max-temp.png}"/>
                Maximum Temperature</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/date.png}"/>
                Date</th>


        </tr>




        <tr

                th:each="data: ${forecast?.list}">

            <td th:text="${forecast?.city?.name}" />
            <td th:text="${data?.main?.temp}" />
            <td th:text="${data?.main?.feels_like}" />
            <td th:text="${data?.main?.getTemp_min()}" />
            <td th:text="${data?.main?.getTemp_max()}" />
            <td th:text="${data?.dt_txt}" />
        </tr>

    </table>
</div>

</body>
</html>