<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather API Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Weather Tracker API</h1>

    <p>Search for the city you want to view weather details</p>


    <form th:action="@{/search}" class="form-inline">
        <input
                class="form-control  ml-5 mr-sm-2 mb-3" type="search"
                name="cityName" placeholder="Search by city" />

        <button class="btn btn-success mb-3" type="submit">Search</button>
    </form>


    <table class="table">
        <tr>

            <th>
                <img width="50px" height="50px" th:src="@{/images/city.png}"/>
                City</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/temp.png}"/>
                Temperature Now</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/desc.png}"/>
                Weather Description</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/min-temp.png}"/>
                Minimum Temperature</th>
            <th>
                <img width="50px" height="50px" th:src="@{/images/max-temp.png}"/>
                Maximum Temperature</th>
        </tr>
        <tr>
            <td th:text="${cityName}">
            <td th:text="${weatherTemp}">
            <td th:text="${weatherDesc}">
            <td th:text="${weatherMinTemp}">
            <td th:text="${weatherMaxTemp}">


        </tr>


    </table>

</div>
</body>
</html>